.input-field {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 2rem;
}

.weather-info {
  background: rgb(12, 48, 90);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
